flow1
[
    {
        "id": "ae8df981.642ff8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fe39f94c.b1fb98",
        "type": "inject",
        "z": "ae8df981.642ff8",
        "name": "currentTimestamp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "610bcb62.5159c4"
            ]
        ]
    },
    {
        "id": "5d892a1a.2feed4",
        "type": "debug",
        "z": "ae8df981.642ff8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.temperature",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "723552ca.29e7fc",
        "type": "ui_gauge",
        "z": "ae8df981.642ff8",
        "name": "",
        "group": "a8767809.7bceb8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "610bcb62.5159c4",
        "type": "rpi-dht22",
        "z": "ae8df981.642ff8",
        "name": "DHT",
        "topic": "rpi-dht22",
        "dht": 22,
        "pintype": "0",
        "pin": 4,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "b19d1cbd.3d28e"
            ]
        ]
    },
    {
        "id": "c3217560.8ac1f8",
        "type": "ui_gauge",
        "z": "ae8df981.642ff8",
        "name": "",
        "group": "a8767809.7bceb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "b19d1cbd.3d28e",
        "type": "function",
        "z": "ae8df981.642ff8",
        "name": "temperature",
        "func": "temp = msg.payload;\nmsg.payload = {};\nmsg.payload.temperature = parseFloat(temp);\nmsg.payload.humidity = parseFloat(msg.humidity);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "5d892a1a.2feed4",
                "723552ca.29e7fc",
                "c3217560.8ac1f8",
                "3981ce99.efc2e2",
                "8f26c061.36b15"
            ]
        ]
    },
    {
        "id": "3981ce99.efc2e2",
        "type": "debug",
        "z": "ae8df981.642ff8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.humidity",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "8f26c061.36b15",
        "type": "http request",
        "z": "ae8df981.642ff8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSfVdEZkvpTQBfeMnBCpZrGzzEljC7FN7sL5-QqL4v11i4O2fw/formResponse?usp=pp_url&entry.128310867={{payload.temperature}}&entry.754998006={{payload.humidity}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "21770261.3e19be"
            ]
        ]
    },
    {
        "id": "21770261.3e19be",
        "type": "debug",
        "z": "ae8df981.642ff8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "a8767809.7bceb8",
        "type": "ui_group",
        "name": "Default",
        "tab": "ea9d9895.0f2d08",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea9d9895.0f2d08",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
